http://192.168.7.133, :2080 {
   redir / /manual/

   redir /manual /manual/
   handle_path /manual/* {
       root * ./manual/book
       file_server
   }

   redir /swagger-ui /swagger-ui/
   handle_path /swagger-ui/* {
       root * ./swagger-ui/dist
       file_server
   }
}
# vim:ft=caddy
