# 一応debug用とかに残している
# 変更した場合は api-docs.nix も変更すること
http://192.168.7.133, :2080 {
   vars upstream_prefix /docs

   redir /manual {vars.upstream_prefix}/manual/
   redir /swagger-ui {vars.upstream_prefix}/swagger-ui/
   redir /specs {vars.upstream_prefix}/specs/
   redir / {vars.upstream_prefix}/manual/

   handle_path /manual/* {
       root * ./manual/book
       file_server
   }

   handle_path /swagger-ui/* {
       root * ./swagger-ui/dist
       file_server
   }

   handle_path /specs/* {
       root * ./specs
       file_server browse
   }
}
# vim:ft=caddy
