openapi: 3.0.3
info:
  title: UEC Library AIA API v1
  description: AIA (Air conditioning, Illumination, Air quality) control API for UEC Library
  version: 0.3.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: UEC i4s
    url: http://i4s.uec.ac.jp
servers:
  - url: http://openapi.i4s.uec.ac.jp/api
    description: Production server via API Gateway
  - url: http://openapi.i4s.uec.ac.jp:8889
    description: Development server
security:
  - bearerAuth: []
tags:
  - name: aircon
    description: Air conditioning control operations
  - name: light
    description: Lighting control operations
  - name: ventilator
    description: Ventilator control operations
paths:
  /v1/AIA/aircon:
    get:
      tags:
        - aircon
      security:
        - bearerAuth: []
      summary: 空調の状態を取得する
      operationId: getAirconStatus
      parameters:
        - name: ulid
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AirconUlid'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirconStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '502':
          $ref: '#/components/responses/BadGateway'
  /v1/AIA/aircon/mode:
    put:
      tags:
        - aircon
      security:
        - bearerAuth: []
      summary: 空調の設定を更新する（モード）
      description: 'mode=0: 運転停止、1: 冷房、2:暖房、3:送風'
      operationId: updateAirconMode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ulid
                - mode
              properties:
                ulid:
                  $ref: '#/components/schemas/AirconUlid'
                mode:
                  $ref: '#/components/schemas/AirconMode'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '502':
          $ref: '#/components/responses/BadGateway'
  /v1/AIA/aircon/temp:
    put:
      tags:
        - aircon
      security:
        - bearerAuth: []
      summary: 空調の設定温度を更新する
      description: 18~28℃の範囲で指定
      operationId: updateAirconTemperature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ulid
                - temp_sv
              properties:
                ulid:
                  $ref: '#/components/schemas/AirconUlid'
                temp_sv:
                  $ref: '#/components/schemas/AirconTemperature'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '502':
          $ref: '#/components/responses/BadGateway'
  /v1/AIA/light:
    get:
      tags:
        - light
      security:
        - bearerAuth: []
      summary: 照明の状態を取得する
      operationId: getLightStatus
      parameters:
        - name: ulid
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/LightUlid'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LightStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '502':
          $ref: '#/components/responses/BadGateway'
    put:
      tags:
        - light
      security:
        - bearerAuth: []
      summary: 照明のシーンを設定する 各シーンについては別途参照。
      operationId: updateLightScene
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ulid
                - scene
              properties:
                ulid:
                  $ref: '#/components/schemas/LightUlid'
                scene:
                  $ref: '#/components/schemas/LightScene'
      responses:
        '200':
          description: Successful response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '502':
          $ref: '#/components/responses/BadGateway'
  /v1/AIA/Ventilator:
    get:
      tags:
        - ventilator
      security:
        - bearerAuth: []
      summary: ベンチレーターの状態を取得する
      operationId: getVentilatorStatus
      parameters:
        - name: ulid
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/VentilatorUlid'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '502':
          $ref: '#/components/responses/BadGateway'
    put:
      tags:
        - ventilator
      security:
        - bearerAuth: []
      summary: ベンチレータの開度を0から100%で指定する
      operationId: updateVentilatorOpening
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ulid
                - percent
              properties:
                ulid:
                  $ref: '#/components/schemas/VentilatorUlid'
                percent:
                  $ref: '#/components/schemas/VentilatorPercent'
      responses:
        '200':
          description: Successful responseVentilatorPercent
          content:
            application/json:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '502':
          $ref: '#/components/responses/BadGateway'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication
  schemas:
    AirconUlid:
      type: string
      example: 01JBGZV7E89TBDXS6Z8HE3A2J6
      description: 空調機器をULIDの形式で指定する。詳細は別途参照
    AirconTemperature:
      type: number
      format: float
      minimum: 18
      maximum: 28
      example: 24
      description: 設定温度（℃）
    AirconMode:
      type: integer
      example: 2
      description: 運転モードを数値で指定する。詳細は別途参照
    AirconStatus:
      type: object
      required:
        - temp_sv
        - mode
      properties:
        temp_sv:
          $ref: '#/components/schemas/AirconTemperature'
        mode:
          $ref: '#/components/schemas/AirconMode'
    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: The request parameters are invalid
        details:
          type: object
          additionalProperties: true
    LightUlid:
      type: string
      example: 01JBGZV74JHG440RVECVT8TMAA
      description: 照明機器をULIDで指定する。詳細は別途参照。
    LightScene:
      type: integer
      minimum: 1
      maximum: 10
      example: 2
      description: シーンを数値で指定する。詳細は別途参照してください
    LightStatus:
      type: object
      required:
        - scene
      properties:
        scene:
          $ref: '#/components/schemas/LightScene'
    VentilatorUlid:
      type: string
      example: 01JBGZV7QA7KTP1Q9E159Q3EFT
      description: ベンチレーターをULIDで指定する。詳細は別途参照。
    VentilatorPercent:
      type: integer
      example: 50
      minimum: 0
      maximum: 100
      description: VAV開度を0~100%で指定する
  responses:
    Unauthorized:
      description: Unauthorized - 認証が必要です
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: UNAUTHORIZED
            message: 有効な認証トークンが必要です
    Gone:
      description: Gone - リソースが利用できなくなりました
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: GONE
            message: 指定されたリソースはすでに削除されています
    BadGateway:
      description: Bad Gateway - 上流サーバーから不正な応答
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: BAD_GATEWAY
            message: 上流サーバーから不正な応答がありました
