name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  spec-lint:
    name: Spec Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup
        uses: ./.github/actions/setup

      - name: redocly lint
        run: nix develop -c redocly lint 'specs/*/openapi.yaml'

  ui-build:
    name: UI Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install UI dependencies
        run: cd ui && nix develop -c pnpm install

      - name: Build UI
        run: cd ui && nix develop -c pnpm build
